stages:
  - build
  - deploy
  - trigger


image: node
variables:
    NAME: 'John'



build:
  #image: node
  stage: build
  before_script:
    - echo $CI_JOB_ID
    # Writing GE_JOB_ID variable to environment file, will need the value in the next stage.
    - echo GE_JOB_ID=$CI_JOB_ID >> generate_executables.env
    - echo "This is a demo" >> demo.txt
  script:
    - echo " Building"
    - 'curl --location --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://gitlab.com/api/v4/projects/40163429/jobs/artifacts/main/download?job=build"'
  artifacts:
    paths:
      # Should be relative to your root directory
      - demo.txt
      - test.txt
    reports:
      # To ensure we've access to this file in the next stage
      dotenv: generate_executables.env
  tags:
    - build-central-docker-linux-x86_64
