# stages:
#   - build
#   - deploy
#   - trigger


# image: node
# variables:
#   NAME: 'John'
#   PARENT_BRANCH: woof
#   PARENT_PIPELINE_SOURCE: meow



# build:
#   #image: node
#   stage: build
#   rules:
#     - if: $PARENT_BRANCH == "master"
#     - if: $PARENT_PIPELINE_SOURCE == "merge_request_event"  
#     - if: $CI_COMMIT_BRANCH == "master"
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#   before_script:
#     - echo $CI_JOB_ID
#     # Writing GE_JOB_ID variable to environment file, will need the value in the next stage.
#     - echo GE_JOB_ID=$CI_JOB_ID >> generate_executables.env
#     - echo "This is a demo" >> demo.txt
#     - echo $ENVIRONMENT
#   script:
#     - echo " Building"
#     #- 'curl --location --output artifacts.zip --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://gitlab.com/api/v4/projects/40163429/jobs/artifacts/master/download?job=build"'
#     #- 'curl --location --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://gitlab.com/api/v4/projects/40163429/jobs/artifacts/master/raw/some/release/file.pdf?job=pdf"'
#     - ls
#     #- unzip artifacts.zip
#     - echo $ENVIRONMENT
#     - sleep 360
#   artifacts:
#     paths:
#       # Should be relative to your root directory
#       - demo.txt
#       - artifacts.zip
#     reports:
#       # To ensure we've access to this file in the next stage
#       dotenv: generate_executables.env
#   tags:
#     - build-central-docker-linux-x86_64

# apply:
#   stage: deploy
#   rules:
#     - if: $PARENT_BRANCH == "master"
#       when: manual 
#     - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
#     - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_MESSAGE =~ /^OFFBOARD:/'
#     - if: '$CI_COMMIT_BRANCH == "master"'
#       when: manual
#   script:
#     - echo "This is the apply phase of the build"
variables:
  PARENT_BRANCH: woof
  PARENT_PIPELINE_SOURCE: meow

stages:
  - plan
  - apply
  - offboard

Plan:
  stage: plan
  rules:
    - if: $PARENT_BRANCH == "master"
    - if: $PARENT_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - echo "This is the plan phase for TFC"
    - echo "PARENT_BRANCH = $PARENT_BRANCH"
    - echo "PARENT_PIPELINE_SOURCE = $PARENT_PIPELINE_SOURCE"
    - echo "CI_COMMIT_BRANCH = $CI_COMMIT_BRANCH"

Apply:
  dependencies:
    - Plan
  stage: apply
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_MESSAGE =~ /^OFFBOARD:/'
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  script:
    - echo "This is the apply phase for TFC"
  when: manual
  allow_failure: false

OffboardUsers:
  stage: offboard
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
  script:
    - echo this is the OffBoard phase to remove users"
  when: manual
  allow_failure: false