variables:
  PARENT_BRANCH: woof
  PARENT_PIPELINE_SOURCE: meow

stages:
  - plan
  - apply
  - offboard

Plan:
  stage: plan
  rules:
    - if: $PARENT_BRANCH == "master"
    - if: $PARENT_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - echo "This is the plan phase for TFC"
    - echo "PARENT_BRANCH = $PARENT_BRANCH"
    - echo "PARENT_PIPELINE_SOURCE = $PARENT_PIPELINE_SOURCE"
    - echo "CI_COMMIT_BRANCH = $CI_COMMIT_BRANCH"

Apply:
  dependencies:
    - Plan
  stage: apply
  rules:
    # rules for apply phase #
    - if: '$PARENT_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_MESSAGE =~ /^OFFBOARD:/'
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
  script:
    - echo "This is the apply phase for TFC"
  when: manual
  allow_failure: false

OffboardUsers:
  stage: offboard
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
  script:
    - echo this is the OffBoard phase to remove users"
  when: manual
  allow_failure: false